{% extends 'layout.html' %}

{% block main %}
    <div id='container_404'>
        <img src="/images/elephant_dead.png">
        <div id='alert-404' class='alert-danger'>
            <h2>5xx</h2>
            <h4>It's so sad! Our musicians will write a new phartitura about this package (it means fix this page) soon.</h4><br>
            <a href='/'>Back to home</a> listening Mozart! <br>
            <small>Or <a href="https://github.com/cloudson/Phartitura/issues/new" >report a bug</a></small>
        </div>    
    </div>
{% endblock %}