{% extends 'layout.html' %}

{% block title %}, a dependency status viewer for composer{% endblock %}

{% block main %}
    <div class='rows'>
        <div class='col-lg-6'>
            <h2 class='home-impact-phrase'>                
            You want know if your library is up to date.
            Get on a phartitura that shows it for you.
            </h2>

            <div class='home-description'>
                Phartitura is an application that shows to you the current state
                of a library on composer. <br>
            </div>
            <ul class='home-projects-example'>
                <li><a class='btn btn-default btn-sm' href='/symfony/symfony'>Symfony/Symfony</a></li>
                <li><a class='btn btn-default btn-sm' href='sonata-project/block-bundle'>Sonata-project/block-bundle</a></li>
                <li><a class='btn btn-default btn-sm' href='/respect/relational'>Respect/Relational</a></li>
                <li><a class='btn btn-default btn-sm' href='/composer/composer'>Composer/Composer</a></li>
            </ul>
            <h2 class='home-impact-phrase'>                
            Get a badge
            </h2>
            <div class='home-description'>
                Soon. <br>
            </div>
            <h2 class='home-impact-phrase'>                
            Access an api directly 
            </h2>
            <div class='home-description'>
                You can send a request with http header 'accept' to consume metadata from a Phartitura receiving json. <br>
            See below:
            <script src="https://gist.github.com/cloudson/5f7561bf0cf6a1c240af.js"></script>
            
            </div>
        </div>
        <div class='col-lg-6'>

        </div>
    </div>
{% endblock %}