{% extends 'layout.html' %}

{% block title %} - {{ project.nameCamelCase }} not found {% endblock %}

{% block main %}
    <div id='container_404'>
        <img src="/images/elephant_confused.png">
        <div id='alert-404' class='alert-warning'>
            <h2>404</h2>
            <h4>The package '{{ name }}' was not found in Packagist. </h4><br>
            <a href='/'>Back to home</a> listening Mozart! <br>
            <small>Or <a href="https://github.com/cloudson/Phartitura/issues/new" >report a bug</a></small>
        </div>    
    </div>
{% endblock %}