{% extends 'layout.html' %}

{% block title %} - {{ project.nameCamelCase }} {% endblock %}

{% block main %}
    <div id="project_table">
        <h2 id='project_name'><small><a href='/' title='back to home'><i class='glyphicon glyphicon-chevron-left'></i></a></small>{{ project.nameCamelCase }} <small id='project_version'>{{ project.version }}</small>  <a href="{{ project.sourceWithoutExtension }}" title='Go to the Github'><img src="/images/github.png" width="16px"></a></h2>
        <div id='project_description'>{{ project.description }}</div>
        <br>
        <table class="table table-condensed " id='dependencies'>
          <thead>
            <tr>
              <th>Dependency</th>
              <th>Rule</th>
              <th>Current</th>
              <th>Latest</th>
              <th class='text-center'>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for dependency in project.dependencies %}
            <tr>
              <td>{{ dependency.name }} <a href='/{{dependency.name}}' title='back to home'><i class='glyphicon glyphicon-link'></i></a></td>
              <td>{{ dependency.versionRule }}</td>
              <td>{{ dependency.version }}</td>
              <td>{{ dependency.latestVersion }}</td>
              <td><div class='status-square {% if dependency.version == dependency.latestVersion %}green{% else %}red{% endif %}'></div></td>
            </tr>
            {% else %}
            <tr>
              <td><h3>No dependencies :)</h3></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}