a:hover {
    text-decoration: none!important;
}

.container {
    max-width: 730px;
}

.dependency-head > div {
    color:#428BCA!important;
}

#logo {
    font-family: 'Niconne', cursive;
    font-size: 30px;
}

#logo small {
    font-size: 18px;
}

#dependencies {
    background: url(../images/partitura_background2.png) top center no-repeat;
}

#dependencies tbody {
    min-height: 300px;
}

#dependencies .row {
    border-bottom: 1px solid #428BCA;
    line-height: 35px;
}

.status-square {
    width:  15px;
    height: 15px;
    margin:10px auto;
}

.home-impact-phrase {
    font-size: 22px;
    color: #428BCA;
}

.home-projects-example li{
    list-style: none;
    margin-bottom: 3px;
}

.header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    height: 50px;
}


.red {
    background-color: #D02A1A;
    background-image: linear-gradient(to bottom, #EB6640 0px, #C20B07 100%)
}

.green {
    background-color: #84D8AF;
    background-image: linear-gradient(to bottom, #AAE7C1 0px, #25B584 100%)
}

.footer {
    clear: both;
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 10px;
    margin-top: 10px;
}

#container_404 img {
    float:left;
}

#project_version {
    font-size: 13px;
}

#project_description {
    font-size: 16px;
    color: #ccc;
    border-top: 1px solid #ccc;
}

#home-latest-projects {
    list-style: none;
    padding: 0;
}

#home-latest-projects li {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 4px solid #419CC2;
    padding-left: 1em;
    line-height: 2.286;
}

#home-latest-projects li:first-child {
    border-left: 4px solid #333;
    color: #333;
}