.container {
    max-width: 730px;
}

.dependency-head > div {
    color:#428BCA!important;
}

#dependencies .row {
    margin-bottom: 10px;
}

.status-square {
    width:  15px;
    height: 15px;
    margin:0 auto;
}

.home-impact-phrase {
    font-size: 22px;
    color: #428BCA;
}

.home-projects-example li{
    list-style: none;
    margin-bottom: 3px;
}

.header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    height: 60px;
}

.text-center {
    text-align: center;
}

.red {
    background-color: #D02A1A;
}

.green {
    background-color: #84D8AF;
}