; TWIG 
[twigloader Twig_Loader_Filesystem]
paths   = ../template

[twigoptions]
debug               = true
charset             = 'UTF-8'
base_template_class = 'Twig_Template'

[twig Twig_Environment]
loader  = [twigloader]
options = [twigoptions]

; MONOLOG
[streamHandler Monolog\Handler\StreamHandler]
__construct = ["../logs/phartitura.log",]

[newRelicHandler Monolog\Handler\NewRelicHandler]

[monolog Monolog\Logger]
name = phartitura
pushHandler[] = [streamHandler]
pushHandler[] = [newRelicHandler]

[redis Redis]
connect[] = ["tunnel.pagodabox.com", 6379]

[redisAdapter Cloudson\Phartitura\Cache\RedisAdapter]
client = [redis]
timeout = 10