[twigloader Twig_Loader_Filesystem]
paths   = ../template

[twigoptions]
debug               = true
charset             = 'UTF-8'
base_template_class = 'Twig_Template'

[twig Twig_Environment]
loader  = [twigloader]
options = [twigoptions]

